<source>
  @type syslog
  tag system
</source>

<source>
  @type tail
  path /var/log/application.log
  # pos_file /var/log/td-agent/httpd-access.log.pos
  tag access.log
  <parse>
    @type {{ scalyr_application_log_parser }}
  </parse>
</source>

<match syslog>
 @type scalyr
 api_write_token  "{{ scalyr_api_key }}"
 server_attributes {
   "application_id": "{{ application_id }}",
   "application_version": "{{ application_version }}",
   "aws_account": "{{ aws_account }}",
   "aws_region": "{{ aws_region }}",
   "image": "{{ image }}",
   "serverHost": "{{ application_id }}",
   "source": "{{ source }}",
   "stack": "{{ stack }}"
 }

 ssl_verify_peer false
 scalyr_server https://eu.scalyr.com/
</match>

<match *.*>
 @type scalyr
 api_write_token  {{ scalyr_api_key }}
 server_attributes {
   "application_id": "{{ application_id }}",
   "application_version": "{{ application_version }}",
   "aws_account": "{{ aws_account }}",
   "aws_region": "{{ aws_region }}",
   "image": "{{ image }}",
   "serverHost": "{{ application_id }}",
   "source": "{{ source }}",
   "stack": "{{ stack }}"
 }

 ssl_verify_peer false
 scalyr_server https://eu.scalyr.com/
</match>


{% if scalyr_custom_parserserver %}
    "scalyr_server": "{{ scalyr_server }}",
      {% for parser in parsers %}
        Do stuff
      {% endfor %}
{% endif %}