<source>
  @type tail
  path /var/log/syslog
  pos_file /var/log/td-agent/syslog.pos
  tag scalyr.*
  <parse>
    @type none
  </parse>
</source>

<source>
  @type tail
  path /var/log/application.log
  pos_file /var/log/td-agent/application.log.pos
  tag scalyr.*
  <parse>
    @type none
  </parse>
</source>

<filter **.application.log>
  @type record_transformer
  <record>
    parser {{ scalyr_application_log_parser }}
  </record>
</filter>

<filter **.syslog>
  @type record_transformer
  <record>
    parser {{ scalyr_syslog_log_parser }}
  </record>
</filter>

<match scalyr.**>
 @type scalyr
 api_write_token  {{ scalyr_api_key }}
 server_attributes {
   "application_id": "{{ application_id }}",
   "application_version": "{{ application_version }}",
   "aws_account": "{{ aws_account }}",
   "aws_region": "{{ aws_region }}",
   "image": "{{ image }}",
   "serverHost": "{{ application_id }}",
   "source": "{{ source }}",
   "stack": "{{ stack }}"
 }

 ssl_verify_peer false
 scalyr_server https://eu.scalyr.com/
</match>
